In [11]:
import pandas as pd
df = pd.read_csv('stock_numbers.csv')
df.head()

     vauto   d2c2
0  30944-1  30968
1  30949-1  P6839
2    P6840  P6837
3    P6845  P6832
4    P6860  P6833

In [15]:
#Get the values in each column that are not in the other column
values_in_col1_not_in_col2 = df.loc[~df['vauto'].isin(df['d2c2']), 'vauto'].tolist()
values_in_col2_not_in_col1 = df.loc[~df['d2c2'].isin(df['vauto']), 'd2c2'].tolist()
print("Values in vAuto not in D2C2:", values_in_col1_not_in_col2)
print("Values in D2C2 not in vAuto:", values_in_col2_not_in_col1)

Values in vAuto not in D2C2: ['30944-1', '30949-1', 'P6429-1', 'P6801-1', '30960-1', 'P6503-1', 'P6783-1', 'P6761-2', nan, nan]
Values in D2C2 not in vAuto: ['30968', '30933', '30970', 'P6449', 'P6761-1', 'P6370-1', 'P6772-1', '30889-2', 'P6815-1', 'P6592-1']