# Intro to Python and Descriptive Statistics

In [6]:
#The pound sign is used to write comments 
#Write comments in your code so you and others can understand it

'''
To make multi-line comments, use three apostrophes to open and close your comments
New line, still commenting
'''

'\nTo make multi-line comments, use three apostrophes to open and close your comments\nNew line, still commenting\n'

In [15]:
#Priting to console
print("Hello world!") #this is a comment

Hello world!

In [10]:
#Basic Data Types
print(type(1))
print(type(1.0))
print(type('a'))
print(type('1'))
print(type(True))
print(type('True'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>

In [3]:
#Basic Arithmatic
print(123 + 456)
print(123 - 456)
print(123 * 456)
print(123 / 456)
print(3 ** 3) #exponent

579
-333
56088
0.26973684210526316
27

In [19]:
#Variables

teacher = "me"
print(teacher)

x = 5
y = 10
print(y / x)

me
2.0

In [6]:
#Lists 
example_list = [1, 2, 3, 4, 5, 6, 7]
print(example_list)

#Slicing Lists
#Lists are indexed starting at 0, meaning the first item in a list is item #0, not item #1
#The end point for a slice is not included in the returned list

print(example_list[0]) #Selects first item in list
print(example_list[1]) #Selects second number in list
print(example_list[-1]) #Selects last item in list
print(example_list[:3])  #Ends prior to 3rd place
print(example_list[2:])  #Starts at 3rd place 
print(example_list[2:4]) #Starts at 3rd place and ends before 5

example_list.insert(0,0) #Insert values into a list.  insert(index, value)
print(example_list)

example_list.remove(3)
print(example_list)

[1, 2, 3, 4, 5, 6, 7]
1
2
7
[1, 2, 3]
[3, 4, 5, 6, 7]
[3, 4]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 4, 5, 6, 7]

In [14]:
#Dictionaries
example_dictionary = {'age':38, 'name':'Robert', 'IQ':300}

print(example_dictionary.keys()) #Get the keys from a dictionary
example_dictionary.values() #Get the values from a dictionary
print(example_dictionary.items()) #Get all key/value pairs from a dictionary

print(example_dictionary.get("name")) #Get values by key
example_dictionary['age'] #Get values by key too

dict_keys(['age', 'name', 'IQ'])
dict_items([('age', 38), ('name', 'Robert'), ('IQ', 300)])
Robert

38

In [16]:
#Creating functions
#Declare that you're creating a function, give it a name, followed by "():"
def myfunction():
#Give your function something to do.  Also, be sure to indent.
    print("You sure put's the FUN in FUNction")
#Call your function by typing its name
myfunction()

You sure put's the FUN in FUNction

In [7]:
#Creating functions with arguments / parameters
def my2ndfunction(name):
    print("Hi " + name)

my2ndfunction("Joe")

Hi Joe

In [15]:
#Use "return" at the end of your function to pass data back to your script / environment
def my3rdfunction(x,y):
    return x + y

a = my3rdfunction(3, 4)
b = my3rdfunction(1, 2)
print(a)
print(b)

7
3

In [7]:
#"F string interpolation" 
status = "awesome"
def my4thfunction(name):
    print(f"Hi {name}. You're {status}!")

my4thfunction("Bob")

Hi Bob. You're awesome!

In [17]:
#For loops
list = [1, 2, 3, 4, 5, 6, 7]

for chicken in list:
    z = chicken ** 2
    print(z)

1
4
9
16
25
36
49

In [11]:
#For loops with append

my_list = [1, 2, 3, 4, 5]
squares = [] #Create an empty list to fill with output from loop

for i in my_list:
    i_squared = i * i
    squares.append(i_squared)

print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#Range
#range(start, stop, step)
#start is first number (optional, otherwise zero), stop is index point at which to stop (not including that number), step (optional) is the incrment

#Create empty lists
a = []
b = []
c = []

#Loop through the range and add each number to a list using append
for x in range(5):
    a.append(x)

for x in range(1,5):
    b.append(x)

for x in range(1,10,2):
    c.append(x)

print(a)
print(b)
print(c)

In [ ]:
#Multiplying two lists with a loop
a = [1,2,3,4]
b = [2,3,4,5]
#Create empty list
aXb = []  

for i in range(len(a)): #Why not for i in a?  
    c = a[i] * b[i]
    aXb.append(c)    #Append adds values to a list
    
print(aXb)

In [ ]:
#Multiplying two lists with a loop
a = [1,2,3,4]
b = [2,3,4,5]
#Create empty list
aXb = []  

for i in a:
    c = a[i-1] * b[i-1]
    aXb.append(c)    #Append adds values to a list
    
print(aXb)

In [13]:
#While loops
x=0

while x<20:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#Nested loops - Multiplication tables
for i in range(1, 13):
    for j in range(1, 13):
        print(i * j, end=' ') #The end argument prevents this from printing each number to a new line

In [21]:
#Control flow
x = 5

#If / else control flow
if x > 4:
    print("X is greater than 4")
else:
    print("X is not greater than 4")

X is greater than 4

In [14]:
#If / elif / else control flow
x=4
if x > 4:
    print("X is greater than 4")
elif x < 4:
    print("X is less than 4")
else: 
    print("x must be four if it isn't greater or less")

x must be four if it isn't greater or less

In [ ]:
#Some basic built in functions: sum(), len(), min() and max()
x = [1, 2, 3, 3, 4, 5, 6]
biggest = max(x)
count = len(x)
smallest = min(x) 
total = sum(x) 
print(f'There are {count} numbers.  If you add them all up you get {total}')
print(f'The biggest is {biggest} and the smallest is {smallest}.')

In [ ]:
#Function to calculate range
def calculate_range(values):
    return max(values) - min(values)

x = [1, 2, 3, 3, 4, 5, 6]
calculate_range(x)

In [25]:
#Function to calculate mean
def calculate_mean(values):
    return sum(values) / len(values) 

x = [2, 25, 50]
calculate_mean(x)

25.666666666666668

In [ ]:
#The modulus, %, returns the remainder after division  
print(26 % 4) #4 goes into 26 6 whole times with a remainder of two (6x4=24+2=26)
print(12 % 4) #4 goes into 12 3 whole times, with 0 remainder 

#If the series is even numbered, lenght % 2 = 0, if odd numbered length % 2 = 1
n = 4
print(n % 2)
print((n + 1) % 2)

In [ ]:
#Sorting lowest to highest with sorted
x = [2, 3, 1, 6, 5]
x_sorted = sorted(x)
print(x_sorted)

In [ ]:
#Floor division - Divides then rounds down
values = [1, 1, 2, 3, 4, 6, 7, 8]
print(values[n//2])
print(values[n//2 - 1])

In [ ]:
#Function to calculate median
def calculate_median(values):
    sorted_values = sorted(values)
    n = len(sorted_values)
    if n % 2 == 1:
        return int(sorted_values[n//2]) #int gets rid of floating point decimal
    else:
        return int((sorted_values[n//2 - 1] + sorted_values[n//2]) / 2) #floor division to find middle values

even = [1, 2, 3, 8, 3, 4, 1, 6]
print(calculate_median(even))
odd = [1, 4, 5, 6, 8]
print(calculate_median(odd))

In [ ]:
#Function to calculate mode
def calculate_mode(values):
    counts = {}
    for num in values:
        if num in counts:
            counts[num] += 1
        else:
            counts[num] = 1
            
    max_count = max(counts.values())

    modes = []
    for num, count in counts.items():
        if count == max_count:
            modes.append(num)

    return modes

values = [1, 2, 3, 2, 4, 4, 5]
calculate_mode(values)

In [29]:
#Function to calculate variance

def calculate_variance(values, sORp):
    mean = calculate_mean(values)
    ssd = 0 #sum of squarred differences
    
    for value in values:
        x = value - mean
        y = x**2
        ssd += y
    
    if sORp == "p": #for a population
        variance = ssd / len(values)
    elif sORp == "s": #for a sample
        variance = ssd / (len(values)-1)
        
    return variance
    
    

x = [1, 2, 3, 3, 4, 5, 6]
print(calculate_variance(x, "s"))
print(calculate_variance(x, "p"))

2.9523809523809526
2.5306122448979593

In [ ]:
#Importing other libraries
#Install libraries with pip or Anaconda
#Call libraries using "import"
#Assign aliases so you don't have to type the full library name to call its functions with "as"
import numpy as np

In [ ]:
#Import Numpy so we can use the square root funciton to calculate standard deviation
import numpy as np

#Function to calculate standard deviation
def calculate_stdev(values):
    return np.sqrt(calculate_variance(values, "s"))

calculate_stdev(x)

In [33]:
#Import Panadas so we can import and manipulate data
import pandas as pd

#Load data into a dataframe, then view the first 10 rows - MUCH more on this later
df = pd.read_csv("../Data/monthly_sales.csv")
df.head(10)

   Sales  Cost  Revenue
0     41     6       52
1     86    79       33
2     22    43       12
3     91    77       94
4     45     9       51
5     94    78       83
6     94    67       13
7     61    89       59
8      1    21       82
9     11    82       19

In [35]:
#Define the columns we are interested in (used lower in the code)
columns = ['Sales', 'Cost', 'Revenue']

for column in columns:
    values = df[column].tolist()
    print(f"Descriptive Statistics for {column}:")
    print(f"Mean: {calculate_mean(values)}")
    print(f"Median: {calculate_median(values)}")
    print(f"Mode: {calculate_mode(values)}")
    print(f"Range: {calculate_range(values)}")
    print(f"Variance: {calculate_variance(values,'s')}")
    print(f"Standard Deviation: {calculate_stdev(values)}")
    print("\n")

Descriptive Statistics for Sales:
Mean: 52.72222222222222

NameError: name 'calculate_median' is not defined

In [37]:
#Pandas can, of course, do all of what we've done so far much easier
print(df['Sales'].mean())
print(df['Sales'].median())
print(df['Sales'].mode()[0])
print(df['Sales'].max())
print(df['Sales'].min())
print(df['Sales'].var())
print(df['Sales'].std())

52.72222222222222
48.0
94
100
1
1070.3300653594772
32.715899274809445

In [39]:
#Even easier
df.describe()

            Sales        Cost     Revenue
count   18.000000   18.000000   18.000000
mean    52.722222   56.222222   53.166667
std     32.715899   33.824035   28.757096
min      1.000000    6.000000   12.000000
25%     24.500000   18.750000   22.500000
50%     48.000000   72.000000   55.500000
75%     84.750000   81.250000   77.750000
max    100.000000  100.000000  100.000000