In [13]:
from bs4 import BeautifulSoup
import re
import pandas as pd

# Load the HTML file
with open('/Users/robertwrobel/Downloads/login_protection_data.html', 'r', encoding='utf-8') as file:
    html_content = file.read()

# Parse the HTML
soup = BeautifulSoup(html_content, 'html.parser')

# Find all matching elements
data = []
for element in soup.find_all(string=re.compile(r'^Estimated location inferred from IP')):
    # Extract two decimal numbers in the series
    matches = re.findall(r'\d+\.\d+', element)  # Find all decimal numbers
    if len(matches) >= 2:  # Ensure there are at least two numbers
        data.append(matches[:2])  # Take the first two decimal numbers

# Save the extracted numbers to an Excel file
df = pd.DataFrame(data, columns=["Number 1", "Number 2"])
df.to_excel('extracted_numbers2.xlsx', index=False)

print("Decimal numbers have been saved to 'extracted_numbers.xlsx'")
df.head()

Decimal numbers have been saved to 'extracted_numbers.xlsx'

  Number 1 Number 2
0   38.648   90.224
1   38.776    89.96
2   37.288    89.52
3   37.856   90.576
4   38.512     90.4