# Polars

In [4]:
import polars as pl

In [ ]:
df = pl.read_csv("../data/data.csv")

In [ ]:
df.head()

shape: (5, 5)
┌──────────────────┬─────┬──────────┬───────┬───────┐
│ Name             ┆ Age ┆ Category ┆ Value ┆ Count │
│ ---              ┆ --- ┆ ---      ┆ ---   ┆ ---   │
│ str              ┆ i64 ┆ str      ┆ i64   ┆ i64   │
╞══════════════════╪═════╪══════════╪═══════╪═══════╡
│ Nicole Allen     ┆ 25  ┆ C        ┆ 54    ┆ 5     │
│ Anthony Martinez ┆ 54  ┆ A        ┆ 49    ┆ 8     │
│ Shawn Gilbert    ┆ 39  ┆ B        ┆ 64    ┆ 3     │
│ Eric Ellis       ┆ 35  ┆ A        ┆ 35    ┆ 4     │
│ Chelsea Flores   ┆ 24  ┆ C        ┆ 6     ┆ 3     │
└──────────────────┴─────┴──────────┴───────┴───────┘

In [21]:
df.tail()

shape: (5, 5)
┌──────────────────────┬─────┬──────────┬───────┬───────┐
│ Name                 ┆ Age ┆ Category ┆ Value ┆ Count │
│ ---                  ┆ --- ┆ ---      ┆ ---   ┆ ---   │
│ str                  ┆ i64 ┆ str      ┆ i64   ┆ i64   │
╞══════════════════════╪═════╪══════════╪═══════╪═══════╡
│ Jamie Knight         ┆ 52  ┆ B        ┆ 34    ┆ 10    │
│ Linda Dalton         ┆ 61  ┆ A        ┆ 61    ┆ 3     │
│ Donald Blevins       ┆ 60  ┆ C        ┆ 58    ┆ 4     │
│ Mrs. Mary Sampson MD ┆ 42  ┆ C        ┆ 81    ┆ 5     │
│ Lawrence Rodriguez   ┆ 59  ┆ B        ┆ 23    ┆ 9     │
└──────────────────────┴─────┴──────────┴───────┴───────┘

In [23]:
df.glimpse()

Rows: 100
Columns: 5
$ Name     <str> 'Nicole Allen', 'Anthony Martinez', 'Shawn Gilbert', 'Eric Ellis', 'Chelsea Flores', 'Karen Carson', 'Rhonda Wilcox', 'Barbara Tran', 'Matthew Ward', 'Joshua Ware'
$ Age      <i64> 25, 54, 39, 35, 24, 51, 51, 24, 31, 19
$ Category <str> 'C', 'A', 'B', 'A', 'C', 'C', 'A', 'A', 'B', 'A'
$ Value    <i64> 54, 49, 64, 35, 6, 71, 53, 62, 40, 81
$ Count    <i64> 5, 8, 3, 4, 3, 2, 10, 9, 8, 4

In [29]:
df.describe()

shape: (9, 6)
┌────────────┬─────────────────┬───────────┬──────────┬───────────┬──────────┐
│ statistic  ┆ Name            ┆ Age       ┆ Category ┆ Value     ┆ Count    │
│ ---        ┆ ---             ┆ ---       ┆ ---      ┆ ---       ┆ ---      │
│ str        ┆ str             ┆ f64       ┆ str      ┆ f64       ┆ f64      │
╞════════════╪═════════════════╪═══════════╪══════════╪═══════════╪══════════╡
│ count      ┆ 100             ┆ 100.0     ┆ 99       ┆ 98.0      ┆ 99.0     │
│ null_count ┆ 0               ┆ 0.0       ┆ 1        ┆ 2.0       ┆ 1.0      │
│ mean       ┆ null            ┆ 40.26     ┆ null     ┆ 45.530612 ┆ 5.232323 │
│ std        ┆ null            ┆ 14.059484 ┆ null     ┆ 28.023629 ┆ 2.79149  │
│ min        ┆ Alexandra Green ┆ 18.0      ┆ A        ┆ 1.0       ┆ 1.0      │
│ 25%        ┆ null            ┆ 28.0      ┆ null     ┆ 21.0      ┆ 3.0      │
│ 50%        ┆ null            ┆ 41.0      ┆ null     ┆ 44.0      ┆ 5.0      │
│ 75%        ┆ null            ┆ 52.0      ┆ null     ┆ 65.0      ┆ 8.0      │
│ max        ┆ William Stewart ┆ 64.0      ┆ C        ┆ 100.0     ┆ 10.0     │
└────────────┴─────────────────┴───────────┴──────────┴───────────┴──────────┘

In [36]:
#Find and remove duplicate rows
duplicates = df.filter(pl.struct(df.columns).is_duplicated())
print(duplicates)

df = df.unique()

duplicates = df.filter(pl.struct(df.columns).is_duplicated())
print(duplicates)

shape: (4, 5)
┌─────────────────┬─────┬──────────┬───────┬───────┐
│ Name            ┆ Age ┆ Category ┆ Value ┆ Count │
│ ---             ┆ --- ┆ ---      ┆ ---   ┆ ---   │
│ str             ┆ i64 ┆ str      ┆ i64   ┆ i64   │
╞═════════════════╪═════╪══════════╪═══════╪═══════╡
│ Alexandra Green ┆ 21  ┆ C        ┆ 7     ┆ 9     │
│ Alexandra Green ┆ 21  ┆ C        ┆ 7     ┆ 9     │
│ Mark Hester     ┆ 35  ┆ C        ┆ 44    ┆ 4     │
│ Mark Hester     ┆ 35  ┆ C        ┆ 44    ┆ 4     │
└─────────────────┴─────┴──────────┴───────┴───────┘
shape: (0, 5)
┌──────┬─────┬──────────┬───────┬───────┐
│ Name ┆ Age ┆ Category ┆ Value ┆ Count │
│ ---  ┆ --- ┆ ---      ┆ ---   ┆ ---   │
│ str  ┆ i64 ┆ str      ┆ i64   ┆ i64   │
╞══════╪═════╪══════════╪═══════╪═══════╡
└──────┴─────┴──────────┴───────┴───────┘

In [38]:
#Find and remove rows with missing data
missing_rows = df.filter(pl.struct(df.columns).is_null().any())
print(missing_rows)

shape: (0, 5)
┌──────┬─────┬──────────┬───────┬───────┐
│ Name ┆ Age ┆ Category ┆ Value ┆ Count │
│ ---  ┆ --- ┆ ---      ┆ ---   ┆ ---   │
│ str  ┆ i64 ┆ str      ┆ i64   ┆ i64   │
╞══════╪═════╪══════════╪═══════╪═══════╡
└──────┴─────┴──────────┴───────┴───────┘