# Database Operations w/ SQL / sqlite3

In [8]:
import sqlite3
import pandas as pd

In [3]:
#Create a connection to a database / create a new database
conn = sqlite3.connect("../Data/example.db")

In [5]:
#Create a cursor object to execute commands
cursor = conn.cursor()

In [9]:
#Create an empty table of customer information
cursor.execute("""CREATE TABLE IF NOT EXISTS customers (
                   id INTEGER PRIMARY KEY AUTOINCREMENT,  
                   name TEXT,
                   email TEXT 
                   )""")

In [11]:
#Insert data into the customer table and commit the changes 
customer_data = [("Alice", "alice@example.com"), ("Bob", "bob@example.com")]
cursor.executemany("INSERT INTO customers (name, email) VALUES (?, ?)", customer_data)
conn.commit()

In [20]:
#Read and print data from the table 
cursor.execute("SELECT * FROM customers")
rows = cursor.fetchall()
for row in rows:
    print(row)
    #print(f"ID: {row[0]}, Name: {row[1]}, Email: {row[2]}")

(1, 'Alice', 'alice@example.com')
(2, 'Bob', 'bob@example.com')

In [ ]:
#Close the connection
conn.close()

In [10]:
#CSV to SQL database
df = pd.read_csv('../Data/SalesData.csv')
conn = sqlite3.connect('../Data/SalesData.db')
df.to_sql('table1', conn, index=False)
conn.commit()
conn.close()