# Splitting up Data with scikit-learn's train_test_split module
## Used to withhold data to test for out-of-sample model accuracy

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv('../data/murder.csv')
df.head()

,murderper100k,executions,south,unemployment,capital_punishment_legal,income_per_capita
0,11.6,0,1,7.5,1,13.530
1,9.0,0,0,7.6,0,18.223
2,8.6,2,0,6.2,1,14.285
3,10.2,0,1,6.2,1,12.634
4,13.1,1,0,9.2,1,17.295

In [11]:
y = df['murderper100k']
X = df[['executions','south','unemployment']]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1663)

In [19]:
print(len(df))
print(len(X_train))
print(len(X_test))

51
40
11