In [36]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.tsa.ardl import ARDL

df = pd.read_csv('../Data/ardl_data.csv')
df.head()

          Y        X1        X2
0  0.000000  0.496714 -1.415371
1  0.000000  0.358450 -1.836016
2 -0.028776  1.006138 -2.178731
3  0.163025  2.529168 -2.981008
4  0.335431  2.295015 -3.142294