In [327]:
import pandas as pd
import re

df = pd.read_csv('/Users/robertwrobel/Downloads/calls.csv')

In [329]:
#Function to remove non-string / non-numeric values from numbers, whitespace, and leading 1s from 

def clean_number(input_str):
    if not isinstance(input_str, str):  
        input_str = str(input_str) if pd.notnull(input_str) else ''
    cleaned = re.sub(r'[^\d\s+]', '', input_str)
    cleaned = cleaned.lstrip('+')
    cleaned = re.sub(r'^1+', '', cleaned)
    cleaned = cleaned.replace(' ', '')
    return cleaned

In [331]:
#Clean calls & contacts
df['Number'] = df['Number'].apply(clean_number)
df2 = pd.read_csv('/Users/robertwrobel/Downloads/contacts 2.csv')
df2['Mobile'] = df2['Mobile'].apply(clean_number)
df2['Home'] = df2['Home'].apply(clean_number)
df2['Home'] = df2['Home'].apply(clean_number)
df2['Other'] = df2['Other'].apply(clean_number)
df2['Name'] = df2['First Name'] + ' ' + df2['Last Name']

In [333]:
#Convert date/time from PST to CST
df["DateTime"] = pd.to_datetime(df["Date (Pacific)"], format="%m/%d/%y %H:%M")
df["DateTime"] = df["DateTime"].dt.tz_localize("US/Pacific")
df["DateTime"] = df["DateTime"].dt.tz_convert("US/Central")
df.drop(columns=["Date (Pacific)"], inplace=True)
df.head()

,Number,Destination,Minutes,Type,Who,DateTime
0,9785526250,INCOMING,1 Min,--,NaN,2025-01-10 19:12:00-06:00
1,7196575927,INCOMING,1 Min,--,NaN,2025-01-10 18:50:00-06:00
2,3144162180,"MEHLVILLE, MO",1 Min,--,NaN,2025-01-10 17:37:00-06:00
3,3144675000,INCOMING,2 Min,Wi-Fi call,NaN,2025-01-10 06:46:00-06:00
4,3144985537,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Alex,2025-01-09 21:46:00-06:00

In [335]:
#Remove shortcodes, if applicable 
print(len(df))
df = df[df['Number'].astype(str).str.len() > 6]
print(len(df))
df.head(50)

1255
1255

,Number,Destination,Minutes,Type,Who,DateTime
0,9785526250,INCOMING,1 Min,--,NaN,2025-01-10 19:12:00-06:00
1,7196575927,INCOMING,1 Min,--,NaN,2025-01-10 18:50:00-06:00
2,3144162180,"MEHLVILLE, MO",1 Min,--,NaN,2025-01-10 17:37:00-06:00
3,3144675000,INCOMING,2 Min,Wi-Fi call,NaN,2025-01-10 06:46:00-06:00
4,3144985537,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Alex,2025-01-09 21:46:00-06:00
5,3144985537,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Alex,2025-01-09 21:46:00-06:00
6,3145855076,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Toni,2025-01-09 21:45:00-06:00
7,8883334636,INCOMING,2 Min,--,NaN,2025-01-09 21:32:00-06:00
8,8007332767,INCOMING,1 Min,--,NaN,2025-01-09 21:29:00-06:00
9,3148256315,"KIRKWOOD, MO",2 Min,--,Me,2025-01-09 11:46:00-06:00
10,3143259628,"LADUE, MO",5 Min,--,NaN,2025-01-09 11:17:00-06:00
11,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-08 21:29:00-06:00
12,8883334636,INCOMING,1 Min,--,NaN,2025-01-07 21:47:00-06:00
13,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-07 19:47:00-06:00
14,3148256315,"KIRKWOOD, MO",3 Min,--,Me,2025-01-07 19:45:00-06:00
15,3148460440,INCOMING,2 Min,--,NaN,2025-01-07 19:07:00-06:00
16,3149898100,INCOMING,1 Min,--,NaN,2025-01-07 18:53:00-06:00
17,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-07 18:26:00-06:00
18,3144675000,INCOMING,1 Min,--,NaN,2025-01-07 18:23:00-06:00
19,3144985537,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Alex,2025-01-07 17:36:00-06:00
20,3145855076,"LADUE, MO",5 Min,T-Mobile to T-Mobile,Toni,2025-01-07 17:31:00-06:00
21,8883334636,INCOMING,2 Min,Wi-Fi call,NaN,2025-01-06 21:42:00-06:00
22,8007332767,INCOMING,2 Min,Wi-Fi call,NaN,2025-01-06 20:42:00-06:00
23,3149898100,INCOMING,1 Min,--,NaN,2025-01-06 18:32:00-06:00
24,3144675000,INCOMING,1 Min,--,NaN,2025-01-06 18:16:00-06:00
25,3148256315,INCOMING,183 Min,Call Waiting,Me,2025-01-05 23:23:00-06:00
26,3148256315,INCOMING,1 Min,--,Me,2025-01-05 23:23:00-06:00
27,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-05 22:39:00-06:00
28,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-05 22:39:00-06:00
29,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-05 22:21:00-06:00
30,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-05 22:16:00-06:00
31,8883334636,INCOMING,2 Min,--,NaN,2025-01-05 22:08:00-06:00
32,3145856995,INCOMING,2 Min,T-Mobile to T-Mobile,Naomi,2025-01-05 16:59:00-06:00
33,3144675000,INCOMING,1 Min,--,NaN,2025-01-05 15:46:00-06:00
34,3148256315,"KIRKWOOD, MO",21 Min,--,Me,2025-01-05 14:55:00-06:00
35,3145539900,"ST LOUIS, MO",1 Min,Wi-Fi call,NaN,2025-01-05 13:41:00-06:00
36,3144985537,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Alex,2025-01-05 12:58:00-06:00
37,3148256315,"KIRKWOOD, MO",97 Min,--,Me,2025-01-04 02:11:00-06:00
38,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-04 02:03:00-06:00
39,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-04 01:59:00-06:00
40,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-04 01:38:00-06:00
41,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-04 01:38:00-06:00
42,3145856995,"LADUE, MO",3 Min,T-Mobile to T-Mobile,Naomi,2025-01-03 17:05:00-06:00
43,8007332767,INCOMING,2 Min,--,NaN,2025-01-03 14:15:00-06:00
44,7196220799,INCOMING,1 Min,--,NaN,2025-01-03 12:47:00-06:00
45,6364225034,INCOMING,1 Min,Wi-Fi call,NaN,2025-01-02 17:24:00-06:00
46,3145856995,"ST LOUIS, MO",1 Min,T-Mobile to T-Mobile,Naomi,2025-01-02 17:21:00-06:00
47,3144985537,INCOMING,1 Min,T-Mobile to T-Mobile,Alex,2025-01-02 16:57:00-06:00
48,6367956614,"ST CHARLES, MO",1 Min,--,Mel,2025-01-02 12:53:00-06:00
49,3144985537,INCOMING,3 Min,T-Mobile to T-Mobile,Alex,2025-01-02 12:32:00-06:00

In [337]:
df["Month"] = df["DateTime"].dt.month
df["Day"] = df["DateTime"].dt.day
df["Year"] = df["DateTime"].dt.year
df["Day_of_Week"] = df["DateTime"].dt.day_name()
df["Night_Call"] = df["DateTime"].dt.hour.apply(lambda x: 1 if x >= 23 or x < 4 else 0)
df.head()

,Number,Destination,Minutes,Type,Who,DateTime,Month,Day,Year,Day_of_Week,Night_Call
0,9785526250,INCOMING,1 Min,--,NaN,2025-01-10 19:12:00-06:00,1,10,2025,Friday,0
1,7196575927,INCOMING,1 Min,--,NaN,2025-01-10 18:50:00-06:00,1,10,2025,Friday,0
2,3144162180,"MEHLVILLE, MO",1 Min,--,NaN,2025-01-10 17:37:00-06:00,1,10,2025,Friday,0
3,3144675000,INCOMING,2 Min,Wi-Fi call,NaN,2025-01-10 06:46:00-06:00,1,10,2025,Friday,0
4,3144985537,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Alex,2025-01-09 21:46:00-06:00,1,9,2025,Thursday,0

In [342]:
df2_melted = df2.melt(id_vars=["Name"], value_vars=["Mobile", "Home", "Work", "Other"], 
                      var_name="Type", value_name="Number")

df = df.merge(df2_melted[["Name", "Number"]], on="Number", how="left")
df.head(20)

,Number,Destination,Minutes,Type,Who,DateTime,Month,Day,Year,Day_of_Week,Night_Call,Name
0,9785526250,INCOMING,1 Min,--,NaN,2025-01-10 19:12:00-06:00,1,10,2025,Friday,0,NaN
1,7196575927,INCOMING,1 Min,--,NaN,2025-01-10 18:50:00-06:00,1,10,2025,Friday,0,NaN
2,3144162180,"MEHLVILLE, MO",1 Min,--,NaN,2025-01-10 17:37:00-06:00,1,10,2025,Friday,0,NaN
3,3144675000,INCOMING,2 Min,Wi-Fi call,NaN,2025-01-10 06:46:00-06:00,1,10,2025,Friday,0,Mehlville School District
4,3144985537,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Alex,2025-01-09 21:46:00-06:00,1,9,2025,Thursday,0,Alexandria Soifer
5,3144985537,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Alex,2025-01-09 21:46:00-06:00,1,9,2025,Thursday,0,Alexandria Soifer
6,3145855076,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Toni,2025-01-09 21:45:00-06:00,1,9,2025,Thursday,0,Antoinette Toni Soifer
7,8883334636,INCOMING,2 Min,--,NaN,2025-01-09 21:32:00-06:00,1,9,2025,Thursday,0,NaN
8,8007332767,INCOMING,1 Min,--,NaN,2025-01-09 21:29:00-06:00,1,9,2025,Thursday,0,NaN
9,3148256315,"KIRKWOOD, MO",2 Min,--,Me,2025-01-09 11:46:00-06:00,1,9,2025,Thursday,0,Robert Wrobel
10,3143259628,"LADUE, MO",5 Min,--,NaN,2025-01-09 11:17:00-06:00,1,9,2025,Thursday,0,NaN
11,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-08 21:29:00-06:00,1,8,2025,Wednesday,0,Robert Wrobel
12,8883334636,INCOMING,1 Min,--,NaN,2025-01-07 21:47:00-06:00,1,7,2025,Tuesday,0,NaN
13,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-07 19:47:00-06:00,1,7,2025,Tuesday,0,Robert Wrobel
14,3148256315,"KIRKWOOD, MO",3 Min,--,Me,2025-01-07 19:45:00-06:00,1,7,2025,Tuesday,0,Robert Wrobel
15,3148460440,INCOMING,2 Min,--,NaN,2025-01-07 19:07:00-06:00,1,7,2025,Tuesday,0,NaN
16,3149898100,INCOMING,1 Min,--,NaN,2025-01-07 18:53:00-06:00,1,7,2025,Tuesday,0,NaN
17,3148256315,"KIRKWOOD, MO",1 Min,--,Me,2025-01-07 18:26:00-06:00,1,7,2025,Tuesday,0,Robert Wrobel
18,3144675000,INCOMING,1 Min,--,NaN,2025-01-07 18:23:00-06:00,1,7,2025,Tuesday,0,Mehlville School District
19,3144985537,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Alex,2025-01-07 17:36:00-06:00,1,7,2025,Tuesday,0,Alexandria Soifer

In [344]:
#Call counts by month
call_counts = df.groupby(["Name", "Month"]).size().reset_index(name="Call_Count")
print(call_counts)

                        Name  Month  Call_Count
0           Adian Mustabasic      7           1
1           Adian Mustabasic      9           2
2          Alexandria Soifer      1           6
3          Alexandria Soifer      6           3
4          Alexandria Soifer      7          22
..                       ...    ...         ...
96              Teresa Smith     12           4
97               Tiff Farren     11           1
98      Tire Choice AutoTire     12           2
99               Umar Farooq      8           3
100  Walgreens Telegraph Erb     12           2

[101 rows x 3 columns]

In [346]:
pivot_table = pd.pivot_table(
    df,
    index="Name",            # Rows: Name
    columns="Month",         # Columns: Month
    values="Number",         # Values to aggregate (any column, we just count rows)
    aggfunc="count",         # Aggregation function: count
    fill_value=0             # Replace NaN with 0
)

# Print the pivot table
print(pivot_table)

Month                      1   6   7   8   9   10  11   12
Name
Adian Mustabasic            0   0   1   0   2   0   0    0
Alexandria Soifer           6   3  22   9   9   6   3   17
Anthony Overall             0   0   1   0   0   0   0    0
Antoinette Toni Soifer      2   8  31  29  17  21  19   34
Blue Cross Insurance        0   0   0   0   1   0   0    0
Chase Cc                    0   0   0   0   0   1   0    0
Chelsie Wilson              0   0   0   0   0   0   0    2
Citi Gov CC                 0   0   0   0   0   0   1    2
Dallas Dlouhy               0   0   0   0   0   0   0    2
Daniel Caseyville           0   1   0   0   0   0   0    0
David Zane                  0   0   1   0   0   0   0    0
Devin Moses                 0   0   1   0   2   0   1    0
Doug Overall                0   3   2   2   1   1   2    4
Eric Midwest RV             0   0   0   0   2   0   0    0
Gary Get In Off Season      0   0   0   0   0   3   0    0
Handyman Hardware           0   0   1   0   0   0   0    0
JR Hester                   0   0  10   0   0   0   0    0
Jack Wrobel                 0   0   0   0   0   0   0    3
Jason Biggs                 0   4  23   9   2   0   0    2
Kim Ruma                    0   0   0   0   2   0   0    0
Kim Williamson              0   0   0   0   2   0   0    0
Lynn Gauthier               0   4   4   6  14  18  17   10
Mark Soifer                 0   0   0   0   1   0   0    0
Mehlville School District   4   0   0   0   0   0   0    0
Mel Remming                 1   3   0   0   0   2   0    6
Melissa Smith               0   0   0   1   2   1   0    0
Midwest RV Service          0   1   0   0   0   0   0    0
Naomi Soifer                3  14  23  34  47  39  37   56
Nathan Harris 5050          0  13   5   0   0   0   0    0
Old Soifer Mark             0   3   0   0   0   0   0    0
Paige Patterson             0   0   0   0   0   0   0    2
Panda Chinese               0   0   0   0   0   1   0    0
Raelyn & Jared              0   1   0   0   0   0   0    0
Robert Wrobel              20   0  23  24  23  36  41  173
Sameer Deshpande            0   1   0   0   0   0   0    0
South Tech 1 Call Out       0   0   0   1   1   0   2    6
Teresa Smith                0   0   2   1   1   2   0    4
Tiff Farren                 0   0   0   0   0   0   1    0
Tire Choice AutoTire        0   0   0   0   0   0   0    2
Umar Farooq                 0   0   0   3   0   0   0    0
Walgreens Telegraph Erb     0   0   0   0   0   0   0    2

In [348]:
df3 = pd.read_csv('/Users/robertwrobel/Downloads/messages2.csv')
df3.columns

Index(['Date (Pacific)', 'Number', 'Destination', 'Direction', 'Type'], dtype='object')

In [350]:
df3['Number'] = df3['Number'].apply(clean_number)
print(len(df3))
df3 = df3[df3['Number'].astype(str).str.len() > 6]
print(len(df3))
df3.columns
df3["DateTime"] = pd.to_datetime(df3["Date (Pacific)"], format="%m/%d/%y %H:%M")
df3["DateTime"] = df3["DateTime"].dt.tz_localize("US/Pacific")
df3["DateTime"] = df3["DateTime"].dt.tz_convert("US/Central")
df3.drop(columns=["Date (Pacific)"], inplace=True)
df3 = df3.merge(df2_melted[["Name", "Number"]], on="Number", how="left")
df3["Month"] = df3["DateTime"].dt.month
df3["Day"] = df3["DateTime"].dt.day
df3["Year"] = df3["DateTime"].dt.year

df3["Day_of_Week"] = df3["DateTime"].dt.day_name()
df3["Night_Call"] = df3["DateTime"].dt.hour.apply(lambda x: 1 if x >= 23 or x < 4 else 0)

df3.head()

2458
1648

,Number,Destination,Direction,Type,DateTime,Name,Month,Day,Year,Day_of_Week,Night_Call
0,3143330735,"ST LOUIS, MO",Incoming,Text,2025-01-10 11:00:00-06:00,NaN,1,10,2025,Friday,0
1,3146050558,--,Outgoing,Picture,2025-01-09 14:11:00-06:00,Jack Wrobel,1,9,2025,Thursday,0
2,6789169446,"ATLANTA, GA",Incoming,Text,2025-01-09 12:49:00-06:00,NaN,1,9,2025,Thursday,0
3,8332577754,INCOMING,Incoming,Text,2025-01-08 16:06:00-06:00,NaN,1,8,2025,Wednesday,0
4,3146268956,--,Incoming,Picture,2025-01-06 16:28:00-06:00,Nicole McAllister,1,6,2025,Monday,0

In [352]:
pivot_table = pd.pivot_table(
    df3,
    index="Name",            # Rows: Name
    columns="Month",         # Columns: Month
    values="Number",         # Values to aggregate (any column, we just count rows)
    aggfunc="count",         # Aggregation function: count
    fill_value=0             # Replace NaN with 0
)

print(pivot_table)

Month                   1    6   7   8   9   10   11  12
Name
Alexandria Soifer        0    0   0   6   0   3    1   0
Alicia Teresa Sister     0    0   0  21   0   0    0   0
Andrea Falls             0    0   2   0   0   0    0   0
Angel Smith              0    0   0   9   1   0    0   0
Angela Smith             0    0   0   0   1   0    0   0
Anna Mullgardt           0    0   0   0   0   0    2   0
Anthony Overall          0    0   1   0   0   0    0   1
Antoinette Toni Soifer   0    0   1   1   2   2  190  18
Bill Sander              0    0  19  35  17   0    0   0
Brendon Wilder           0    1   0   0   0   0    0   0
Carla Koch               0    0   0   0   0   6    2   0
Dallas Dlouhy            0    5   0   0   0   0    0   1
Darius Irving            0    0   0   0   1   0    0   0
Dean Tinder              0    0  12   0   0   0    1   0
Dennis Mehlville         0   40  21   0   0   0    0   0
Devin Moses              0    0   0   0   0   0    1   0
Doug Overall             0    0   0   1   0   0    0   0
JR Hester                0    0  12   6   2   8    2   0
Jack Wrobel              1    0   0   0   0   0    0   0
Jaime Choir              0    0   0   0   1   0    0   0
James Soulard            0    1   0   0   0   0    0   0
Jason Biggs              0   10  20  10   8   0    1   0
Keith Bingham            0    1   0   0   0   0    0   0
Lynn Gauthier            0    1  18   6   1   0    7   2
Mel Remming              0    0   1   4   0   4    2   0
Melissa Smith            0    5  23  13  47  17    4   0
Mylea Nash               0    0   0   4   0   0    0   0
Naomi Soifer             0   13  17  19  16   1    2   4
Nathan Harris 5050       0  233  33   0   0   0    0   0
Nicole McAllister        1    0   0   0   0   0    0   0
Old Soifer Mark          0    9   0   0   0   0    0   0
Oriana Foster            0    0   0   0   0   0    9   0
Pat Remming              0    1   0   0   0   0    0   0
Raelyn & Jared           0    3   0   0   0   0    0   0
Robert Wrobel           11    0  19  27  34   0    2  29
Sameer Deshpande         0   50  84   0   0   3    0   0
Sean Fitzgerald          0    6   1   0   0   0    8   0
Seth StCharles           0    1   0   0   0   0    0   0
Susan Kowalczyk          0    0   0   2   0   0    3   0
Ted Hill                 0    2   0   0   0   0    0   0
Teresa Smith             0    0   0   0   1   5    0   0
Terry Kinealy            0   13   0   0   0   0    0   0
Thuy Tran                0    0   1   0   0   0    0   0
Tracy Eastman (eric)     0    0   0   0   0   6    0   0
Umar Farooq              0    0   1  16   0   0    0   0
Yvette Kowalczyk         0    0   0   2   0   0    0   4

In [354]:
df.head()

,Number,Destination,Minutes,Type,Who,DateTime,Month,Day,Year,Day_of_Week,Night_Call,Name
0,9785526250,INCOMING,1 Min,--,NaN,2025-01-10 19:12:00-06:00,1,10,2025,Friday,0,NaN
1,7196575927,INCOMING,1 Min,--,NaN,2025-01-10 18:50:00-06:00,1,10,2025,Friday,0,NaN
2,3144162180,"MEHLVILLE, MO",1 Min,--,NaN,2025-01-10 17:37:00-06:00,1,10,2025,Friday,0,NaN
3,3144675000,INCOMING,2 Min,Wi-Fi call,NaN,2025-01-10 06:46:00-06:00,1,10,2025,Friday,0,Mehlville School District
4,3144985537,"LADUE, MO",1 Min,T-Mobile to T-Mobile,Alex,2025-01-09 21:46:00-06:00,1,9,2025,Thursday,0,Alexandria Soifer

In [356]:
df["Date"] = pd.to_datetime(df[["Year", "Month", "Day"]])
df3["Date"] = pd.to_datetime(df3[["Year", "Month", "Day"]])

salt_lick_date = pd.Timestamp("2024-06-13")
together_date = pd.Timestamp("2024-07-07")

df["Post_Salt_Lick"] = (df["Date"] > salt_lick_date).astype(int)
df["Together"] = (df["Date"] > together_date).astype(int)
df3["Post_Salt_Lick"] = (df3["Date"] > salt_lick_date).astype(int)
df3["Together"] = (df3["Date"] > together_date).astype(int)

df.drop(columns=['Date'], inplace=True)
df3.drop(columns=['Date'], inplace=True)


print(df.head())
print(df3.head())

       Number    Destination Minutes                  Type   Who  \
0  9785526250       INCOMING   1 Min                    --   NaN
1  7196575927       INCOMING   1 Min                    --   NaN
2  3144162180  MEHLVILLE, MO   1 Min                    --   NaN
3  3144675000       INCOMING   2 Min            Wi-Fi call   NaN
4  3144985537      LADUE, MO   1 Min  T-Mobile to T-Mobile  Alex

                   DateTime  Month  Day  Year Day_of_Week  Night_Call  \
0 2025-01-10 19:12:00-06:00      1   10  2025      Friday           0
1 2025-01-10 18:50:00-06:00      1   10  2025      Friday           0
2 2025-01-10 17:37:00-06:00      1   10  2025      Friday           0
3 2025-01-10 06:46:00-06:00      1   10  2025      Friday           0
4 2025-01-09 21:46:00-06:00      1    9  2025    Thursday           0

                        Name  Post_Salt_Lick  Together
0                        NaN               1         1
1                        NaN               1         1
2                        NaN               1         1
3  Mehlville School District               1         1
4          Alexandria Soifer               1         1
       Number   Destination Direction     Type                  DateTime  \
0  3143330735  ST LOUIS, MO  Incoming     Text 2025-01-10 11:00:00-06:00
1  3146050558            --  Outgoing  Picture 2025-01-09 14:11:00-06:00
2  6789169446   ATLANTA, GA  Incoming     Text 2025-01-09 12:49:00-06:00
3  8332577754      INCOMING  Incoming     Text 2025-01-08 16:06:00-06:00
4  3146268956            --  Incoming  Picture 2025-01-06 16:28:00-06:00

                Name  Month  Day  Year Day_of_Week  Night_Call  \
0                NaN      1   10  2025      Friday           0
1        Jack Wrobel      1    9  2025    Thursday           0
2                NaN      1    9  2025    Thursday           0
3                NaN      1    8  2025   Wednesday           0
4  Nicole McAllister      1    6  2025      Monday           0

   Post_Salt_Lick  Together
0               1         1
1               1         1
2               1         1
3               1         1
4               1         1

In [358]:
df3.head()

,Number,Destination,Direction,Type,DateTime,Name,Month,Day,Year,Day_of_Week,Night_Call,Post_Salt_Lick,Together
0,3143330735,"ST LOUIS, MO",Incoming,Text,2025-01-10 11:00:00-06:00,NaN,1,10,2025,Friday,0,1,1
1,3146050558,--,Outgoing,Picture,2025-01-09 14:11:00-06:00,Jack Wrobel,1,9,2025,Thursday,0,1,1
2,6789169446,"ATLANTA, GA",Incoming,Text,2025-01-09 12:49:00-06:00,NaN,1,9,2025,Thursday,0,1,1
3,8332577754,INCOMING,Incoming,Text,2025-01-08 16:06:00-06:00,NaN,1,8,2025,Wednesday,0,1,1
4,3146268956,--,Incoming,Picture,2025-01-06 16:28:00-06:00,Nicole McAllister,1,6,2025,Monday,0,1,1

In [360]:
df.to_csv('/Users/robertwrobel/Downloads/calls_parsed.csv',index=False)
df3.to_csv('/Users/robertwrobel/Downloads/messages_parsed.csv', index=False)